.small {
  font-size: 80%;
  font-weight: 400;
}

section.messageListComponent {
  background-color: blue;
  width:100%;
}

#list-messages { border:1px solid blue; }
table.mat-table {
  margin: 0 auto;
  width: 100%;
}
table.mat-table td.mat-cell:first-of-type,
table.mat-table td.mat-footer-cell:first-of-type,
table.mat-table th.mat-header-cell:first-of-type 
table.mat-table td.mat-cell{
  padding-left:4px !important;
  padding-right:4px !important;
  vertical-align: top;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
    padding-left: 0px !important;
}

.table-full-width {
  width: 99%;
}

.table-full-width td {
  border:1px dashed rgba(255,0,0,.75);
  background-color: yellow;
}
.table-bordered {
  border:1px solid blue!important;
}


.mat-header-cell {
  font-size:1.0em;
  font-weight: bolder;
}

.table-striped tr.mat-row:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tr.mat-row:hover {
  color: #212529;
  background-color: rgba(255, 255, 0, 0.075);
  cursor: pointer;
}

table#list-messages {
  border:1px 
}