<div fxLayout class="mat-elevation-z8">
  <p-table [value]="elements">
      <ng-template pTemplate="header">
          <tr>
              <th>Atomic Number</th>
              <th>Name</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
          <tr>
              <td>{{element.id}}</td>
              <td>{{element.name}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate='summary'>
        This is a table summary
      </ng-template>
  </p-table>
</div>
