<table class="table">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of products" (click)='clickRow(p)'>
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.stock}}</td>
        <td style="width:20em">
          <app-child2
            (stockChange)='updateStock($event)'
            [product]='p'>
          </app-child2>
        </td>
    </tr>
  </tbody>
</table>

<app-child3 [inner]='selectedRow'></app-child3>
