<main id='chooser-main-container'
  fxLayout='column'>

    <section fxItem='1' fxFlexAlign="center">
      <div style='text-align: center'>
        <h4>Profile Chooser</h4>
        <p>Views render according to various access classes.
          Please choose appropiate access role from available classes below</p>
        <br /><br />
        <mat-icon style='font-size: 3em; color:green'>verified_user</mat-icon><br />
      </div>
    </section>

    <section fxItem='1' fxFlexAlign='center'>
      <table>
        <tr *ngFor='let u of users'>
          <td>{{u.id}}</td>
          <td>{{u.firstName}} {{u.lastName}}</td>
        </tr>
      </table>
    </section>

    <section
      fxItem='1'
      fxLayout='row' fxLayout.lt-md='column'
      fxLayoutAlign='space-evenly'>

      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon>group_work</mat-icon>Reed Richards</b><br />
          <i>Admin</i>
        </div>
        <p>Overall site admin. This user can:</p>
        <ul style='text-align: nomal'>
          <li>Answer/close support tickets</li>
          <li>Assign/re-assign tickets</li>
          <li>View analytics</li>
          <li>...</li>
        </ul>
        <div style='text-align: center'>
          <button type='button' mat-raised-button color="accent"
            style="font-size:36px !important;"
            (click)="chooseProfile('Admin')">
            <mat-icon>play_circle_filled</mat-icon> Go!
          </button>
        </div>
      </div>
      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon >assignment_ind</mat-icon>Sue Storm</b><br>
          <i>support Staff</i>
        </div>
        <p>Role includes:</p>
          <ul>
            <li>Answer/close any ticket</li>
          </ul>
        <div style='text-align: center'>
          <button type='button' mat-raised-button color="primary"
            style="font-size:36px !important;"
            (click)="chooseProfile('HelpdeskAdmin')">
            <mat-icon>play_circle_filled</mat-icon> Go!
          </button>
        </div>
      </div>
      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon>supervised_user_circle</mat-icon>Johnny Storm &amp; Benn Grimm</b><br>
          <i>Users</i>
        </div>
        <p>Normal users are allowed to:</p>
          <ul>
            <li>Open new ticket</li>
          </ul>
          <div style='text-align: center'>
            <button type='button' mat-raised-button color="warn"
              style="font-size:36px !important;"
              (click)="chooseProfile('Helpdesk')">
              <mat-icon>play_circle_filled</mat-icon> Go!
            </button>
          </div>
      </div>
    </section>

</main>
