<main id='chooser-main-container'
  fxLayout='column'>

    <section fxItem='1' fxFlexAlign="center">
      <div>
        <h4>Header</h4>
        <p>Some Body Content 1</p>
        <p>Some Body Content 12</p>
        <p>Some Body Content 123</p>
        <p>Some Body Content 1234</p>
        <p>Some Body Content 12345</p>
        <p>Some Body Content 123456</p>
        <p>Some Body Content 1234567</p>
        <p>Some Body Content 12345678</p>
      </div>
    </section>

    <section
      fxItem='1'
      fxLayout='row' fxLayout.lt-md='column'
      fxLayoutAlign='space-evenly'>

      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon>group_work</mat-icon>Reed Richards</b><br />
          <i>Admin</i>
        </div>
        <p>Overall site admin. This user can:</p>
        <ul style='text-align: nomal'>
          <li>Answer/close support tickets</li>
          <li>Assign/re-assign tickets</li>
          <li>View analytics</li>
          <li>...</li>
        </ul>
        <div style='text-align: center'>
          <button type='button' mat-raised-button color="accent"
            style="font-size:36px !important;"
            (click)="chooseProfile('admin')">
            <mat-icon>play_circle_filled</mat-icon> Go!
          </button>
        </div>
      </div>
      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon >assignment_ind</mat-icon>Sue Storm</b><br>
          <i>support Staff</i>
        </div>
        <p>Role includes:</p>
          <ul>
            <li>Answer/close any ticket</li>
          </ul>
        <div style='text-align: center'>
          <button type='button' mat-raised-button color="primary"
            style="font-size:36px !important;"
            (click)="chooseProfile('support')">
            <mat-icon>play_circle_filled</mat-icon> Go!
          </button>
        </div>
      </div>
      <div fxFlex='25%'>
        <div style='text-align: center'>
          <b><mat-icon>supervised_user_circle</mat-icon>Johnny Storm &amp; Benn Grimm</b><br>
          <i>Users</i>
        </div>
        <p>Normal users are allowed to:</p>
          <ul>
            <li>Open new ticket</li>
          </ul>
          <div style='text-align: center'>
            <button type='button' mat-raised-button color="warn"
              style="font-size:36px !important;"
              (click)="chooseProfile('user')">
              <mat-icon>play_circle_filled</mat-icon> Go!
            </button>
          </div>
      </div>
    </section>

</main>
