<main id='chooser-main-container' 
  fxLayout='column'
  fxLayoutGap="10px">
  <section fxLayoutAlign='center'>
    <div class='divbox' style='height:300px'>
      <h5>Account Profile Chooser</h5>
    </div>
  </section>
  
  <section fxLayout='row'
    fxLayoutGap='20px'
    fxLayoutAlign='center'>
    <div fxFlex class='divbox'>
      <div style='text-align: center'>
        <b>Reed Richards</b><br />
        <i>Admin</i>
      </div>
      <p>Overall site admin. This user can:</p>
        <ul style='text-align: nomal'>
          <li>Answer/close support tickets</li>
          <li>Assign/re-assign tickets</li>
          <li>View analytics</li>
          <li>...</li>
        </ul>
    </div>
    <div fxFlex class='divbox'>
      <div style='text-align: center'>
      <b>Sue Storm</b><br>
      <i>support Staff</i>
      </div>
      <p>Role includes:</p>
        <ul>
          <li>Answer/close any ticket</li>
        </ul>
    </div>
    <div fxFlex class='divbox'>
      <div style='text-align: center'>
        <b>Johnny Storm &amp; Benn Grimm</b><br>
        <i>Users</i>
      </div>
      <h6>Users</h6>
      <p>Normal users are allowed to:</p>
        <ul>
          <li>Open new ticket</li>
        </ul>
    </div>
  </section>
</main>