<form id='id_ticketForm' #ticketForm='ngForm' (ngSubmit)='submitTicket(ticketForm)'>
<section
  *ngIf='ticket'
  fxLayout='row wrap'
  fxLayoutAlign='space-evenly'>

  <!-- LEFT COLUMN -->
  <div fxFlex='30%' style='margin-right:1em'>
    <p-panel styleClass='mat-elevation-z4 x3' id='xxx'>
      <p-header><b>User Info</b></p-header>
      <div fxLayout='row wrap'>
        <div fxFlex='50'>
          <label for='idu_name'>User:</label><br />
          <input id='idu_name' type='text' pInputText value="{{ticket.from.firstName}} {{ticket.from.lastName}}" disabled>
          <small style='color:red'>Wrong!</small>
        </div>
        <div fxFlex='50'>
          <label for='idu_email'>Email:</label><br />
          <input id='idu_email' type='text' pInputText value="{{ticket.from.email}}" disabled >
        </div>
        <div fxFlex='50' style='margin-top:1em'>
          <div><span class='ui-float-label'>
              <input type='text' id='float-dept' name='dept' [(ngModel)]='ticket.from.dept' pInputText>
              <label for='float-dept'>Department</label>
          </span></div>
        </div>
        <div fxFlex='50'>
          <label for='idu_dept'>Dept.:</label><br />
          <input id='idu_dept' type='text' pInputText [(ngModel)]="ticket.from.dept" name='dept'>
        </div>
        <div fxFlex='50'>
          <label for='idu_phone'>Phone:</label><br />
          <input id='idu_phone' type='text' pInputText [(ngModel)]="ticket.from.phone" name='phone'>
        </div>
        <div fxFlex='50'>
          <label for='idt_date'>Today:</label><br />
          <input id='idt_date' type='text' pInputText value="{{this.ticket.submittalDate | date:'mediumDate'}}" disabled>
        </div>
      </div>

    </p-panel>
    <br />

    <p-panel>
      <div class="p-grid">
        <div class="p-col">1</div>
        <div class="p-col">2</div>
        <div class="p-col">3</div>
      </div>
    </p-panel>
    <br />

    <p-panel>
      <p-header><b>NEW</b></p-header>
      <div fxLayout='column' fxLayoutAlign='start' style='margin-top:1em'>
        <button type="button" class="ui-button-success">New Ticket</button>
        <p-dropdown [options]='ticket.products' name='products' [(ngModel)]='ticket.selectedProduct' [style]="{'width':'100%'}"></p-dropdown>
        <p-dropdown [options]="ticket.category" name='category' [(ngModel)]='ticket.selectedCategory' [style]="{'width':'100%'}" optionLabel='ticket_sub_cat_detail'></p-dropdown>
        <p-dropdown [options]="ticket.priority" name='priority' [(ngModel)]='ticket.selectedPriority' [style]="{'width':'100%'}"></p-dropdown>
      </div>
    </p-panel>
    <br />

    <p-panel header='Attachments' styleClass='mat-elevation-z4' *ngIf='1==0'>
      <div *ngIf="hasAuth('helpdesk')">
      <p-fileUpload mode="basic" name="demo[]"
        chooseLabel="Browse"
        uploadLabel='Upload'
        showUploadButton='true'
        accept="image/*"
        maxFileSize="1000000"
        customUpload='true'
        (onBeforeSend)="onBeforeSend($event)"
        (onUpload)="onBasicUpload($event)"
        (onSelect)="onBasicSelect($event)"
        (uploadHandler)="onBasicUploading($event)">
          <ng-template pTemplate="toolbar">
              <div>Upload 3 Files</div>
          </ng-template>
          <ng-template let-file pTemplate="file">
              <div>Custom UI to display a file</div>
          </ng-template>
          <ng-template pTemplate="content">
              <div>Custom UI to manage uploaded files</div>
          </ng-template>
      </p-fileUpload>
      </div>

      <div class='ui-inputgroup'>
        <select [(ngModel)]='ticket.selectedAttachment' name='attachments'>
          <option disabled selected>-- Attachment(s) ---</option>
          <option value='100'>Attachment 1</option><option value='200'>Attachment 2</option><option value='300'>Attachment 3</option>
        </select>
        <span class='ui-inputgroup-addon'>
          <button mat-raised-button (click)='deleteAttachment(ticket.selectedAttachment)'>
            <mat-icon style='color:red'>delete_forever</mat-icon>
          </button>
        </span>
      </div>
    </p-panel>
    <br />

    <p-panel header='Admin Functions' *ngIf="1==0" styleClass='mat-elevation-z4'>
      <p>Stuff for the admin to do</p>
    </p-panel>

    <p-panel>
      <p-header><b>Tickets</b></p-header>
      <table style='border-collapse: collapse; width:100%'>
        <tr style='font-size:13px;'>
          <td><mat-icon style='color:green'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:green'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:red'>mail</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
          <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
          <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
          <td>3/12/2020 7:15AM</td>
        </tr>
        <tr>
            <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
            <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
            <td>3/12/2020 7:15AM</td>
          </tr>
          <tr>
              <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
              <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
              <td>3/12/2020 7:15AM</td>
            </tr>
            <tr>
                <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
                <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
                <td>3/12/2020 7:15AM</td>
              </tr>
              <tr>
                  <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
                  <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
                  <td>3/12/2020 7:15AM</td>
                </tr>
                <tr>
                    <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
                    <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
                    <td>3/12/2020 7:15AM</td>
                  </tr>
                  <tr>
                      <td><mat-icon style='color:yellow'>drafts</mat-icon>Fred Smith</td>
                      <td><b style='color: #17a2b8 !important;'>Display Problems</b></td>
                      <td>3/12/2020 7:15AM</td>
                    </tr>

      </table>
    </p-panel>
  </div>


  <!-- RIGHT COLUMN -->
  <div fxFlex>
    <p-panel  class="mat-elevation-z2">
      <p-header>
        <mat-icon [style.color]="ticket.status ? 'green' : 'red'">flag</mat-icon>
        <b>{{ticket.id}}:<i>{{ticket.subject}}</i></b>
      </p-header>
        <div class='ui-inputgroup' *ngIf='1==0'>
          <span class='ui-inputgroup-addon'><mat-icon>subject</mat-icon></span>
          <input type="text" pInputText name='subject' placeholder='Title' [(ngModel)]='ticket.subject' required>
        </div>

        <p-panel>
          <p-header>Frank Castle</p-header>
          <textarea pInputTextarea name='description' placeholder='Describe Problem'
            style='width:100%; max-width:100%; min-width:80%'  autoResize="autoResize" disabled
            [(ngModel)]='ticket.description'></textarea>
        </p-panel><br />
        <p-panel>
          <p-header>James Joyce</p-header>
          <textarea pInputTextarea name='description' placeholder='Describe Problem'
            style='width:100%; max-width:100%; min-width:80%' autoResize="autoResize" disabled
            [(ngModel)]='ticket.description'></textarea>
        </p-panel><br />
        <p-panel>
          <p-header>Frank Miller</p-header>
          <textarea pInputTextarea name='description' placeholder='Describe Problem'
            style='width:100%; max-width:100%; min-width:80%' autoResize="autoResize" disabled
            [(ngModel)]='ticket.description'></textarea>
        </p-panel>
        <hr>
        <p-panel>
          <p-header><b><i>Enter Comment:</i></b></p-header>
          <textarea pInputTextarea
            style='width:100%; max-width:100%; min-width:80%' rows='5' autoResize="autoResize">
          </textarea>
        </p-panel>

        <p-panel>
            <div fxFlex='98%' fxLayout='row' fxLayoutAlign='end' style="margin-top:1em;">
              <button pButton type='button' class="ui-button-secondary" label='Cancel' routerLink='/listMessages'></button> &nbsp;
              <button pButton type="submit" [label]="ticket.submitLabel" form='id_ticketForm' class="ui-button-success"></button>
            </div>
          </p-panel>
    </p-panel>
    <br />

    <p-panel header='Admin Comments' styleClass='mat-elevation-z2' *ngIf="1==0 && ticket.action=='view'">
      <textarea
        [disabled]="!isAdmin"
        pInputTextarea name='adminComment' placeholder="Admin Comments"
        style='width:100%; max-width:100%; min-width:80%' rows='10'
        [(ngModel)]='ticket.adminComment'>
      </textarea>
    </p-panel>

  </div>

  <div fxFlex='98%' fxLayout='row' fxLayoutAlign='center stretch' style="margin-top:1em;">
  <p-panel header='Debug' *ngIf='1===1'>
    <p>form.valid: {{ticketForm.form.valid}}</p>
    <p>isAdmin: {{isAdmin}}</p>
    </p-panel>
  </div>
</section>
</form>
