<form id='id_ticketForm' #ticketForm='ngForm' (ngSubmit)='submitTicket(ticketForm)'>
<section
  fxLayout='row'
  fxLayoutAlign='space-evenly'>

  <div fxFlex='48%'>
    <p-panel header='{{ticket.from.firstName}} {{ticket.from.lastName}} ({{ticket.from.email}})' styleClass='mat-elevation-z4'>
      <div>{{isAdmin}}</div>
      <div fxLayout fxLayoutAlign='space-evenly' fxLayoutGap='8px' style='margin-top:8px'>
        <input type='text' name='title' placeholder="Title" [(ngModel)]='ticket.from.title' pInputText>
        <div><span class='ui-float-label'>
          <input type='text' id='float-dept' name='dept' [(ngModel)]='ticket.from.dept' pInputText>
          <label for='float-dept'>Department</label>
        </span></div>
        <input type='text' name='other' placeholder="Other Input" [(ngModel)]='xxx' pInputText>
      </div>

      <div fxLayout fxLayoutAlign='start' fxLayoutGap='8px' style='margin-top:8px'>
        <input fxFlex='50%' type='text' name='phone' placeholder="Phone" [(ngModel)]='ticket.from.phone' pInputText>
        <span>Submittal Date: {{ticket.submittalDate | date: 'medium' }}</span>
      </div>

      <div fxLayout fxLayoutAlign='space-evenly' fxLayoutGap='8px' style='margin-top:8px'>
        <p-dropdown [options]='ticket.products' name='products' [(ngModel)]='ticket.selectedProduct'></p-dropdown>
        <p-dropdown [options]="ticket.category" name='category' [(ngModel)]='ticket.selectedCategory' optionLabel='ticket_sub_cat_detail'></p-dropdown>
        <p-dropdown [options]="ticket.priority" name='priority' [(ngModel)]='ticket.selectedPriority'></p-dropdown>
      </div>
    </p-panel>
    <br />

    <p-panel header='Debug' *ngIf='false'>
      {{ticketForm.form.valid}}
    </p-panel>
  </div>

  <div fxFlex='48%'>
    <p-panel [header]='messageHeader' class="mat-elevation-z2">
        <div class='ui-inputgroup'>
          <span class='ui-inputgroup-addon'><mat-icon>subject</mat-icon></span>
          <input type="text" pInputText name='subject' placeholder='Subject' [(ngModel)]='ticket.subject' required #spy>
        </div>

        <textarea pInputTextarea name='description' placeholder='Describe Problem'
          style='max-width:100%; min-width:80%' rows='10'
          [(ngModel)]='ticket.description'></textarea>


        <div>spy.subject: {{spy.className}}</div>
        <hr />
        <textarea *ngIf="hasAuth('admin')"
          pInputTextarea name='adminComment' placeholder="Admin Comments"
          style='max-width:100%; min-width:80%' rows='10'
          [(ngModel)]='ticket.adminComment'></textarea>
        <hr />

        <p-fileUpload mode="basic" name="demo[]"
          chooseLabel="Browse"
          uploadLabel='Upload'
          showUploadButton='true'
          accept="image/*"
          maxFileSize="1000000"
          customUpload='true'
          (onBeforeSend)="onBeforeSend($event)"
          (onUpload)="onBasicUpload($event)"
          (onSelect)="onBasicSelect($event)"
          (uploadHandler)="onBasicUploading($event)">
            <ng-template pTemplate="toolbar">
                <div>Upload 3 Files</div>
            </ng-template>
            <ng-template let-file pTemplate="file">
                <div>Custom UI to display a file</div>
            </ng-template>
            <ng-template pTemplate="content">
                <div>Custom UI to manage uploaded files</div>
            </ng-template>
        </p-fileUpload>

        <div class='ui-inputgroup'>
            <span class='ui-inputgroup-addon'><span>Attachment(s):&nbsp;</span></span>
          <select >
            <option disabled selected value='0'>-- Attachment(s) ---</option>
            <option value='100'>Attachment 1</option><option value='200'>Attachment 2</option><option value='300'>Attachment 3</option>
          </select>
          <span class='ui-inputgroup-addon'>
            <mat-icon>delete_forever</mat-icon></span>
        </div>

        <div fxLayout='row' fxLayoutAlign='end'>
          <button pButton type='button' class="ui-button-secondary" label='Cancel' routerLink='/listMessages'></button> &nbsp;
          <button pButton type="submit" label="Success"
            form='id_ticketForm'
            class="ui-button-success" ></button>
        </div>
    </p-panel>
  </div>
</section>
</form>
