<mat-toolbar style="border-bottom:1px solid #ccc; background-color:#fff;">
  <mat-toolbar-row>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink='/' href><img src='assets/images/nyc_parks_logo.png' style="height:60px; width:60px"></a>
    <span style='color:#88c659 !important;font-weight:bold;font-variant:small-caps'>{{title}}</span>
    <mat-nav-list fxLayout>
      <a mat-list-item href routerLink='/listMessages'>List</a>
      <a mat-list-item href routerLink='/newMessage'>New</a>
      <a mat-list-item href routerLink='/choose' fxFlexAlign='end'>Logout</a>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
