
<div fxLayout fxLayoutAlign='start' fxLayoutGap='8px' style='margin:8px 4px'>
  <button pButton type="button" label='New Ticket' class="ui-button-success" routerLink='/newMessage'></button>
  <div>{{currentUser.firstName}} {{currentUser.lastName}}</div><div>{{currentRole}}</div>
</div>
<p-table [loading]="loading"
  [value]="messages"
  [paginator]="true" [rows]='10' [rowsPerPageOptions]="[10,20,30]"
  [ngClass]="'messageTable'"
  selectionMode="single" [(selection)]="currentSelection" (onRowSelect)="getDetails($event)">
    <ng-template pTemplate='header'>
      <tr>
        <th style="width: 3em">#</th>
        <th style="width: 12em" class="old-car-width">From</th>
        <th style="width: 40em">Subject</th>
        <th style="width: 8em">Product</th>
        <th style="width: 8em">Cat/Pri</th>
        <th style="width: 8em">Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate='body' let-message>
      <tr [pSelectableRow]='message'>
        <td>{{message.id}}</td>
        <td>
          {{message.from}} <br />
          &nbsp;<span style='font-style:italic'>{{message.title}}</span>
        </td>
        <td>
          <span [ngClass]="message.status == 1 ? 'msgUnread' : null">
            <mat-icon [style.color]="message.status == 1 ? 'green' : 'red'">label_important</mat-icon>{{message.subject}}</span>
          <br />
          &nbsp;{{message.description}}
        </td>
        <td>{{message.product}}</td>
        <td>
          <span style="border-bottom:1px solid gray">{{message.category}}</span>
          <br>
          {{message.priority}}
        </td>
        <td>
          {{message.date}}<br />
          3:12 PM
        </td>
      </tr>
    </ng-template>
</p-table>
